blockquote.text-center Lee sobre nuestros Clientes y sus Experiencias 
.row.testimoniales
    each testimonio in testimoniales
        .col-md-6.col-lg-4.mb-4
            blockquote.blockquote
            p.mb-0
                | #{testimonio.mensaje}
            footer.blockquote-footer
                | #{testimonio.nombre}