extends ../layout/index
block slider
    .slider 
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                p No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")

        include ../layout/partials/viajes
        

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2019 - 28 de Marzo de 2019
                        p.precio $2,500 USD	  

    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales                             